<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- iconscout cdn -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav>
        <div class="container nav_container">
            <a href="/" class="nav_logo">BLOG</a>
            <ul class="nav_items">
                <li> <a href="/blog">Blog</a></li>
                <li> <a href="about.html">About</a></li>
                <li> <a href="services.html">Services</a></li>
                <li> <a href="contact.html">Contact</a></li>
                <!-- <li href="blog.html">Signin</li> -->
                <li class ="nav_profile">
                    <div class="avatar">
                        <img src="./images/avatar1.jpg" alt="">
                    </div>
                    <ul>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <button id="open_nav-btn"><i class="uil uil-bars"></i></button>
            <button id="close_nav-btn"><i class="uil uil-multiply"></i></button>
        </div> 
    </nav>
    <!-- end  of the nav -->

<header class="category_title">
    <h2><%=cat%></h2>
</header>
   


    <!-- End of featured -->
    <section class="posts">
        <div class="container posts_container">
            <% post.forEach(p=>{%>
            <article class="post">
    <div class="post_thumbnail">
        <img src="images/<%= p.Thumbnail %> " alt="">
    </div>
    <div class="post_info">
        <h3 onclick="view('<%=p._id%>')" class="post_title"><a ><%=p.Title %></a></h3>
    <p class="post_body">
    <%=p.Body%> </p>
    <div class="post_author">
        <div class="post_author-avatar">
            <img src='images/<%=p.Author.Avatar%>' alt="">
        </div>
    <div class="post_author-info">
        <h5>By:<%=" "%><%=p.Author.Fname+" " %> <%=p.Author.Lname%></h5>
        <small><%=p.Date%></small>
    </div>
    </div>
    </div>
            </article>
            <%})%>
        
    
        </div>
    </section>
    
    


<!-- end of posts -->

<section class="category_buttons">
    <div class="container category_buttons-container">
<a href="" class="category_button">Art</a>
<a href="" class="category_button">Wild Life</a>
<a href="" class="category_button">Travel</a>
<a href="" class="category_button">Science & Technology</a>
<a href="" class="category_button">Food</a>
<a href="" class="category_button">Music</a>

</div>
</section>
<!-- end of category buttons -->


<footer>
    <div class="footer_socials">
        <a href="https://youtube.com/OurBlog" target="_blank"><i class="uil uil-youtube"></i></a>
        <a href="https://facebook.com/OurBlog" target="_blank"><i class="uil uil-facebook"></i></a>
        <a href="https://instagram.com/OurBlog" target="_blank"><i class="uil uil-instagram"></i></a>
        <a href="https://linkedin.com/OurBlog" target="_blank"><i class="uil uil-linkedin"></i></a>
        <a href="https://twitter.com/OurBlog" target="_blank"><i class="uil uil-twitter"></i></a>

    </div>
    <div class="container footer_container">
<article>
    <h4>Categories</h4>
    <ul>
        <li><a href="">Art</a></li>
        <li><a href="">Wild Life </a></li>
        <li><a href="">Travel</a></li>
        <li><a href="">Music</a></li>
        <li><a href="">Science&Technology</a></li>
        <li><a href="">Food</a></li>
    </ul>
</article>
<article>
    <h4>Support</h4>
    <ul>
        <li><a href="">Online Support</a></li>
        <li><a href="">Call Numbers</a></li>
        <li><a href="">Emails</a></li>
        <li><a href="">Social Support</a></li>
        <li><a href="">Location</a></li>
    </ul>
</article>
<article>
    <h4>Blog</h4>
    <ul>
        <li><a href="">Safety</a></li>
        <li><a href="">Repair </a></li>
        <li><a href="">Recent</a></li>
        <li><a href="">Popular</a></li>
        <li><a href="">Categories</a></li>
    </ul>
</article>
<article>
    <h4>Permalinks</h4>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Abou</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contact</a></li>
        
    </ul>
</article>
    </div>
<div class="footer_copyright">
    <small>Copyright &copy;@2023 OurBlog Football Club</small>
</div>
</footer>

<script src="main.js"></script>
</body>
</html>